canvas {
	background-color: transparent;
	cursor: pointer;
}

body {
	background-image: url("../bg.jpg");
	background-color: #222;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

.output {
	text-align: center;
	font-family: sans-serif;

}

h4 {
	text-align: left;
	margin-bottom: 0;
	color:#fefefe;
}

h5 {
	font-size: 1.3em;
}
#player{
	display: none;
}
.buttonControls{
	margin-top: 2em;

}

.button {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size: 1.0em;
	color: rgba(255, 255, 255, 100);
}

.button:hover {
	background-color: rgba(0, 0,0, 0.3);
	color: rgba(255, 255, 255, 100);
}

#videoPanel{
	margin: 0;
	text-align: right;
	padding: 5%;
	padding-top: 10%;
	vertical-align: center;
	/*padding-left: 10%;*/
}

#videoTime {
	margin-top: 0.5em;
	color: #e6e6e6;
}

#xlabGif{
	height: 50px;
	width: auto;
	margin-top: 10px;
	left: 0;
}

#mode {
	position: fixed;
	top: 10px;
	right: 2em;

}

#xlabBig {
	width: 70%;
	max-width: 700px;
	margin-top: 3%;
	margin-bottom: 3%;
}

#homeContainer {
	text-align: center;
}

.icon-bar.three-up{
	width: 100%;
	background-color: rgba(0,0,0, 0.5);
	bottom: 0;
}

.row{
	background-color: rgba(200,200,200, 0.1);
	max-width: none;
	/*border-top: solid 2px rgba(0, 190, 226, 0.8);*/
	/*box-shadow: 0px 0px 20px 0px rgba(100, 100, 100, 0.6);*/
}

table {
	width: 80%;
}

a.item:hover {
	background-color: rgba(0, 190, 226, 0.5);
}

#Panel{
	background-color: rgba(0,0,0, 0.5);
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

#slider {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}

.ui-slider-horizontal {
	height: 0.4em;
}

.ui-slider .ui-slider-handle {
	height: 1em;
	width: 1em;
	outline: none;
	/*background-color: rgba(20, 80, 100, 0.8);*/
	box-shadow: 1px #2c2c2c;
	border: none;
}

.ui-slider-tick {
    position: absolute;
    width: 2px;
    height: 16px;
    z-index: -1;
}


#editName {
	color: #fefefe;
	font-weight: 300;
	margin-left: 1em;
	text-decoration: underline;
	cursor: pointer;
}

#editName:hover {
	color: rgba(0, 190, 226, 0.8);
}

.button {
	font-size: 0.7em;
}

p {
	margin: 0;
}

#yogaPoseButton{

    margin: 0;
	margin-bottom: 1em;
}

#yogaPoseDescription {

}

#time {
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-size: 0.8em;
	color: #e6e6e6;
	width: 30%;
}

.ui-slider-range {
    background: rgba(0, 190, 226, 0.5);
}

#poseName {
	text-align: left;
	color: rgba(0, 190, 226, 0.8);
	font-weight: 200;
	font-size: 1.3em;
	padding-left: 0.1em;
	padding-right: 0.1em;

}

#calibration{

}

#addVideo {
	padding-top: 5%;
	text-align: center;
}

#sliderWrapper {
	text-align: center;
	margin: 0;
	margin-top: 2.5em;
	width: 80%;
	padding-left: 10%;

}

#vidURL {
	margin-top: 1em;
	margin-bottom: 3%;
	width: 200px;
}

td {
	border: none;
	margin: 0;
}

#videoButtons {

	background-color: rgba(0,0,0,0);
	text-align: center;
	margin-top: -2em;
}

#playerContainer{
	text-align: center;
}

#slices {
	display: inline;
	margin: -2px;
	margin-bottom: 2em;
	width: 100%;
}

.slice {
	border: none;
	float: left;
	margin: -2px;
	margin-right: 3px;
	background-color: rgba(20, 80, 100, 0.9);
	border: solid 1px rgb(150, 150, 150);
}

.slice > p {
	text-align: center;
	color: #fefefe;
	font-size: 1.2em;
	/*opacity: 0;*/
}

.slice:hover {
	border: solid 1px rgb(255,255,255);
}

#container {
	padding-top: 2em;
	margin: 0;
	border-radius: 10px;
}

.sampleVid {
	pointer-events: none;
}

#sampleVideos {
	display: inline-block;
	width: 100%;
}

#sampleVideos > li {
	display: inline-block;
	opacity: 0.5;
	width: 30%;
}

#sampleVideos > li:hover {
	opacity: 1;
}

.row {

}

#slices .ui-selected {
	background: rgb(0, 190, 226);
	color: white;
}

p {
    color: rgb(0, 190, 226);
    text-align: left;
}

h5 {
	color: #fefefe;
}

td {
	padding-top: 2em;
    vertical-align: top;
}

#descWrapper{

    text-align: left;
}

#descWrapper > p {
    width: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#poseNumber {
	margin-bottom: 0.5em;
}

textarea {
    background-color: rgba(0,0,0,0);
    border-color: #fefefe;
}

textarea {
	color: rgb(0, 190, 226);
}

#canvasWrap {
	text-align: center;
}

#posename {
	font-size: 0.5em;
	color: rgb(40, 100, 120);
	margin: 0.2em;
	margin-top: 1em;
	text-align: center;
}

#sensorGrid {
	padding-top: 1.5em;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}